/* Write your code here: */
h1, h2 {
    color: blueviolet;
}
.box > p {
    color: firebrick;
}
.box {
    background-color: rgb(183, 124, 234);
}
.box li {
    color: blue;
}
li.done {
    color: orange;
}
ul p.done {
    font-size: 0.5rem;
}
p {
    color: blueviolet;
}